<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Wroom car rental</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-danger" id="navbarNav" sec:authorize="isAuthenticated()">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/branch"
                       sec:authorize="hasAnyRole('ADMIN', 'OWNER')">Branch</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/car"
                       sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'OWNER','SALES_PERSON', 'CUSTOMER')">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/booking"
                       sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'OWNER','SALES_PERSON','CUSTOMER')">Manage booking</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/user"
                       sec:authorize="hasAnyRole('ADMIN', 'MANAGER', 'OWNER')">User</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
</html>