<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create booking</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar"></div>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Create booking</h1>
                <div th:replace="fragments/alert-box"></div>

                <form action="#" method="post" th:action="@{/booking}" th:object="${booking}">

                    <div class="form-group mb-3">
                        <label>Car registration number :</label>
                        <select class="form-select" aria-label="registrationNumber"
                                th:field="*{car.id}" id="car">
                            <option th:each="car: ${cars}" th:text="${car.registrationNumber}"
                                    th:value="${car.id}"></option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="dateFrom">Date from</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="dateFrom" name="dateFrom"
                                   placeholder="Date From" th:field="*{dateFrom}" required>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label for="dateTo">Date to</label>
                        <div class="col-sm-6">
                            <input type="date" class="form-control" id="dateTo" name="dateTo"
                                   placeholder="Date To"  th:field="*{dateTo}" required>
                        </div>
                    </div>
                    <div class="form-group mb-3">
                        <label>The branch where you rent the car :</label>
                        <select class="form-select" aria-label="rentalBranch" th:field="*{rentalBranch.id}">
                            <option th:each="branch: ${branches}" th:text="${branch.name}"
                                    th:value="${branch.id}"></option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label>The branch where you return the rented car:</label>
                        <select class="form-select" aria-label="returnBranch" th:field="*{returnBranch.id}">
                            <option th:each="branch: ${branches}" th:text="${branch.name}"
                                    th:value="${branch.id}"></option>
                        </select>
                    </div>

                    <div class="form-group mb-3">
                        <label for="totalAmount">Price for rental</label>
                        <input class="form-control" id="totalAmount" th:field="*{totalAmount}" type="text" readonly>
                        <a type="button" href="#" class="btn btn-primary" onclick="getTotalAmount();">Calculate amount</a>
                    </div>

                    <div class="form-group mb-3">
                        <label for="comments">Comments</label>
                        <input class="form-control" id="comments" th:field="*{comments}" type="text">
                    </div>

                    <a class="btn btn-light mb-3" type="button" href="/car">Cancel</a>
                    <button class="btn btn-outline-primary mb-3" type="submit">Create</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/script-fragment"></div>
</body>
</html>